.nano-top-banner {
    background:url('../img/confined.ions.png');
    background-repeat: repeat-x;
    height:180px;
}

.navbar-inverse{
    background: #fff;
    color:#333;
}

.navbar-inverse a:hover{
	color:#000 !important;
}

.navbar-header:before{
	content: "FutureWater";
	font-size:2em;
}