.nano-top-banner {
    background:url('../img/futurewaterbanner.jpg');
    height:180px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    /* counteract the margin added by .content-area */
    margin-top: -20px;
}
/*
.navbar-inverse{
    background: #fff;
    color:#333;
}

.navbar-inverse a:hover{
	color:#000 !important;
}

.navbar-header:before{
	content: "FutureWater";
	font-size:2em;
}*/

.button > .glyphicon {
    color: currentColor;
}
